<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
      <test name="Tests">
        <classes>
            <class name="SeleniumProject.Activity1" />
            <class name="SeleniumProject.Activity2"/>
             <class name="SeleniumProject.Activity3"/>
            <class name="SeleniumProject.Activity4"/>
            <class name="SeleniumProject.Activity5"/>
            <class name="SeleniumProject.Activity6"/>
            <class name="SeleniumProject.Activity7"/>
           
        </classes>
    </test>
</suite>
    