<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Tests">
        <classes>
            <class name="SDET.Activity1" />
            <class name="SDET.Activity2"/>
             <class name="SDET.Activity3"/>
            <class name="SDET.Activity4"/>
            <class name="SDET.Activity5"/>
            <class name="SDET.Activity6"/>
            <class name="SDET.Activity7"/>
            <class name="SDET.Activity8"/>
            <class name="SDET.Activity9"/>
        </classes>
    </test>
</suite>
    
